body {
    font-family: "Lato", sans-serif;
    text-align: center;
}

/*Navbar*/

.nav-bg-light {
    background-color: rgba(206, 157 ,162 , 0.8);
}

.brand-name {
    font-family: "Dancing Script", sans-serif;
    font-size: 200%;
    margin-left: 15px;
    color: black;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin-right: 1rem;
}

.navbar-nav {
    margin-left: 30px;
}

/*Containers*/

.mainbody-container {
  height: 80vh;

  background: url("../../assets/images/main-bg.jpg") no-repeat center right fixed; 
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  
}

.reviews-container {
    background-color: rgba(206, 157 ,162 , 0.8);
}

.container-quote {
    background: url("../../assets/images/quote-bg.jpg") no-repeat center right fixed;
    background-size: cover;
}

/*Body text*/

.intro {
    color: white;
}


/*Page Headers*/

.review-heading {
    font-family: "Dancing Script", sans-serif;
}

.review-heading h2 {
    font-size: 280%;
}


/*Footer*/

.footer-container {
    margin-top: 2vh;
}

.footer-container ul {
    margin-top: 10rem;
    margin-bottom: 1rem;
}

.footer-container i {
    font-size: 250%;
    color: #ce9da2;
}

.gallery-container {
    padding-top: 2rem;
}

/*Quote*/

.quote {
    background-color: rgba(206, 157 ,162 , 0.25);
    padding: 30px;
    max-width: 60%;
    text-align: center;
    margin: auto;
}

.request-a-quote {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: "Dancing Script", sans-serif;
    text-align: center;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid rgb(0 0 0 / 55%);
    width: 50%;
}

label {
    display: grid;
    margin-bottom: .5rem;
    font-size: larger;
    font-weight: 700;
}

input {
  max-width: 200x;
  width: 80%;
  min-width: 50px;
}

.form-control {
    display: inline;
    width: auto;
}

select {
    margin-bottom: 1rem;
}

.btn-custom {
  display: inline;
  background-color: #ce9da2;
  color: black;
  display: flex;
  text-align: center;
  margin: auto;
}

.btn-custom:hover {
    background-color: #91b9e4;
}

/*Gallery*/

.carousel-inner {
     width:100%; 
     height: fit-content;
}

/ Large devices (desktops, 992px and up) /
@media (min-width: 992px) { 
    .navbar-nav{
        position: absolute;
        right: 17px;
    }
 }

@media (min-width: 1200px) {
    .navbar-nav {
        position: absolute;
        right: 17px;
    }

