body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

/*Navbar*/

.nav-bg-light {
    background-color: #6c6d93;
}

.brand-name {
    font-family: "Dancing Script", sans-serif;
    font-size: 180%;
    color: white;
}


.navbar-light .navbar-brand {
    color: white;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin-right: 1rem;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-nav {
    margin-left: 30px;
}

/*Containers*/

.mainbody-container {
  height: 100vh;

  background: url("../../assets/images/home-main-bg.jpg") no-repeat center right fixed; 
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}


.reviews-container {
    background-color: #FEF5EF;
}

.container-quote {
    background: url("../../assets/images/quote-bg.jpg") no-repeat center right fixed;
    background-size: cover;
}

.gallery-container {
    padding-top: 2rem;
}

/*Body text*/

.main-body {
    background-color: rgb(108, 109, 147, 0.7);
    border-radius: 2%;
    width: 60vh;
    position: absolute;
}

.main-body p h2 {
    height: max-content;
}
.intro {
    color: white;
}

.intro p {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    line-height: 3.5vh;
}
.intro hr {
    background-color: #AC7277;
}

.how-it-started-main-text p {
    line-height: 30px;
    font-size: 20px;
    color: #432371;
}

.how-it-started hr {
    color: #FAAE7B;
}

.slogan h3 {
    font-size: 2rem;
    font-family: "Dancing Script", sans-serif;
    color: #B47978;
    margin-top: 2rem;
    margin-bottom: 2rem;
}



/*Page Headers*/

.review-heading {
    font-family: "Dancing Script", sans-serif;
}

.review-heading h2 {
    font-size: 280%;
}

.review p {
    padding-right: 50px;
    padding-left: 50px;
}


.how-it-started-header h2 {
    font-size: 3rem;
    font-family: "Dancing Script", sans-serif;
    color: #432371;
    margin-top: 2rem;
}

/*Footer*/

.footer-container {
    height: 1px;
}


.footer-container i {
    font-size: 250%;
    color: #ac7277;
}

.copyright {
    font-size: large;
    font-weight: 400;
    padding-bottom: 6vh;
    margin: auto;
    text-align: center;
    color: #AC7277;
}

.contact-us-footer {
    text-align: center;
    display: inline;
    margin-top: 4vh;
    color: #AC7277;
}   

/*Quote*/

.quote {
    background-color: rgba(172, 114, 119 , 0.25);
    padding: 30px;
    max-width: 60%;
    text-align: center;
    margin: auto;
}

.request-a-quote {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: "Dancing Script", sans-serif;
    text-align: center;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid;
    width: 50%;
}

label {
    display: grid;
    margin-bottom: .5rem;
    font-size: larger;
    font-weight: 700;
}

input {
  max-width: 200x;
  width: 80%;
  min-width: 50px;
}

.form-control {
    display: inline;
    width: auto;
}

select {
    margin-bottom: 1rem;
}

.btn-custom {
  display: inline;
  background-color: #ac7277;
  color: black;
  display: flex;
  text-align: center;
  margin: auto;
}

.btn-custom:hover {
    background-color: #D6E3F8;
}

/*Gallery*/

.gallery-container {
  position: relative;
  width: 100%;
  background-color: #F1D8C3;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FEF5EF;
}

.gallery-first-col:hover .overlay {
  opacity: 0.9;
}

.gallery-second-col:hover .overlay {
  opacity: 0.9;
}

.gallery-third-col:hover .overlay {
  opacity: 0.9;
}

.gallery-fourth-col:hover .overlay {
  opacity: 0.9;
}

.gallery-fifth-col:hover .overlay {
  opacity: 0.9;
}

.gallery-sixth-col:hover .overlay {
  opacity: 0.9;
}

.gallery-seventh-col:hover .overlay {
  opacity: 0.9;
}

.gallery-eighth-col:hover .overlay {
  opacity: 0.9;
}

.gallery-ninth-col:hover .overlay {
  opacity: 0.9;
}

.text {
  color: #825F65;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/ Large devices (desktops, 992px and up) /
@media (min-width: 992px) { 
    .navbar-nav{
        position: absolute;
        right: 17px;
    }
 }

@media (min-width: 1200px) {
    .navbar-nav {
        position: absolute;
        right: 17px;
    }

@media screen and (max-width: 468px) {
    .navbar-brand {
    font-size: 20px;    
    }
}