body {
    font-family: "Lato", sans-serif;
    text-align: center;
}

/*Navbar*/

.nav-bg-light {
    background-color: #ce9da2;
}

.brand-name {
    font-family: "Dancing Script", sans-serif;
    font-size: 200%;
    margin-left: 15px;
    color: black;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #afabab;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin-right: 1rem;
}

.navbar-nav {
    margin-left: 30px;
}

/*Containers*/

.mainbody-container {
  height: 80vh;

  background: url("assets/images/wedding-cake-bg.jpg") 100% 0/4% no-repeat;
  background-size:cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews-container {
    height: 50vh;
    background-color: #ce9da2;
}

/*Body text*/

.mark-bg {
    background-color: #ce9da2;
}

/*Page Headers*/

.review-heading {
    font-family: "Dancing Script", sans-serif;
}

.review-heading h2 {
    font-size: 280%;
}



/*Footer*/

.footer-container {
    height: 10vh;
}

.footer-container ul {
    margin-top: 10rem;
    margin-bottom: 1rem;
}

.footer-container i {
    font-size: 250%;
    color: #ce9da2;
}